<main class="main">
  <div class="container-fluid_carousel">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="./img/slider/slideOne.png" alt="slide">
          <div class="carousel-caption d-none d-md-block">
            <h3 class="font-weight-normal h3 text-center">Exclusively on
              <span class="font-weight-bold">artinerary</span>
            </h3>
            <h2 class="h2 text-center">
              Contemporary Asian Art
            </h2>
            <p class="text-center">Browse by Collection</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="./img/slider/slideOne.png" alt="slide">
          <div class="carousel-caption d-none d-md-block">
            <h3 class="font-weight-normal h3 text-center">Exclusively on
              <span class="font-weight-bold">artinerary</span>
            </h3>
            <h2 class="h2 text-center">
              Contemporary Asian Art
            </h2>
            <p class="text-center">Browse by Collection</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="./img/slider/slideOne.png" alt="slide">
          <div class="carousel-caption d-none d-md-block">
            <h3 class="font-weight-normal h3 text-center">Exclusively on
              <span class="font-weight-bold">artinerary</span>
            </h3>
            <h2 class="h2 text-center">
              Contemporary Asian Art
            </h2>
            <p class="text-center">Browse by Collection</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section id="first">
    <div class="container">
      <div class="wrap-filter">
        <div class="row mt-3">
          <div class="col-xl-6 text-left py-2">
            Browse Works for Sale
          </div>
          <div class="col-xl-6 text-right">
            <a class="text-dark" href="">View All</a>
          </div>
        </div>
        <div class="first-btn row my-3">
          <button type="button" class="btn btn-filter-category btn-outline-secondary col-xl-2 px-1 mx-auto"
            value="paintings">Paintings</button>
          <button type="button" class="btn btn-filter-category btn-outline-secondary col-xl-2 px-1 mx-auto"
            value="sculptures">Sculpture</button>
          <button type="button" class="btn btn-filter-category btn-outline-secondary col-xl-2 px-1 mx-auto"
            value="drawings">Drawings
          </button>
          <button type="button" class="btn btn-filter-category btn-outline-secondary col-xl-2 px-1 mx-auto"
            value="photography">Photography
          </button>
          <button type="button" class="btn btn-filter-category btn-outline-secondary col-xl-2 px-1 mx-auto"
            value="design">Design</button>
          <button type="button" class="btn btn-filter-category btn-outline-secondary col-xl-2 px-1 mx-auto"
            value="multiples">Multiples</button>
        </div>
        <div class="wrap py-2">
          <div class="col-xl-12 text-left">
            Browse By Price
          </div>
          <div class="second-btn second-btn_price row my-3 ">
            <button type="button" class="btn btn-filter-price btn-outline-secondary col-xl-2 px-1 mx-auto"
              value="100">&#60;100</button>
            <button type="button" class="btn btn-filter-price btn-outline-secondary col-xl-2 px-1 mx-auto"
              value="500">&#60;500</button>
            <button type="button" class="btn btn-filter-price btn-outline-secondary col-xl-2 px-1 mx-auto"
              value="1000">&#60;1000
            </button>
            <button type="button" class="btn btn-filter-price btn-outline-secondary col-xl-2 px-1 mx-auto"
              value="2000">&#60;2000
            </button>
            <button type="button" class="btn btn-filter-price btn-outline-secondary col-xl-2 px-1 mx-auto"
              value="3000">&#60;3000</button>
            <button type="button" class="btn btn-filter-price btn-outline-secondary col-xl-2 px-1 mx-auto"
              value="5000">&#60;5000</button>
          </div>
        </div>
        <div class="wrap py-2">
          <div class="col-xl-12 text-left">
            Browse By dimensions
          </div>
          <div class="second-btn second-btn_price row my-3 border-low">
            <button type="button" class="btn btn-filter-dimensions btn-outline-secondary col-xl-3 px-1 mx-auto "
              value="small" role="button">small</button>
            <button type="button" class="btn btn-filter-dimensions btn-outline-secondary col-xl-3 px-1 mx-auto "
              value="medium" role="button">medium</button>
            <button type="button" class="btn btn-filter-dimensions btn-outline-secondary col-xl-3 px-1 mx-auto "
              value="large" role="button">large</button>
            <button type="button" class="btn btn-filter-search btn-warning col-xl-2 px-1 mx-auto">Search</button>
          </div>
        </div>
      </div>
      <h4 class="home-page-header">Our Latest Collection Inspired by
        <span class="home-page-header__span">
          Robert Frank
        </span>
      </h4>
      <div class="row border-low">
        <div class="col-xl-6 ">
          <img class="rounded mx-auto d-block home-img__xy my-3" src="img/main/screenOne.png" alt="pic">
        </div>
        <div class="col-xl-6 ">
          <img class="rounded mx-auto d-block home-img__xy my-3" src="img/main/scriptTwo.png" alt="pic">
        </div>
      </div>
    </div>
  </section>
  <section id="second">
    <div class="container">
      <div class="second-us row ">
        <div class="wrap-elem col-xl-4 py-4 text-center">
          <img class="elem-size mx-auto" src="./img/main/section2/1.png" alt="Provencance ">
          <p class="elem-fsize text-light mx-auto">
            Provencance proved by
            Blockchain Technology
          </p>
        </div>
        <div class="wrap-elem col-xl-4 py-4 text-center">
          <img class="elem-size mx-auto" src="./img/main/section2/2.png" alt="Provencance ">
          <p class="elem-fsize text-light mx-auto pt-4">
            Secure Payments
          </p>
        </div>
        <div class="wrap-elem col-xl-4 py-4 text-center">
          <img class="elem-size-last mx-auto" src="./img/main/section2/3.png" alt="Provencance ">
          <p class="elem-fsize text-light mx-auto pt-4">
            Safe Shipment
          </p>
        </div>
      </div>
      <h4 class="home-page-header">Magazine</h4>
      <div class="store row" id="storePlace">
        {{#each store}}
        <div class="magazine-wrap py-5 col-xl-4">
          <div class="wrap">
            <img class="float-left mr-3 magazine-size-img" src="{{this.img}}" alt="pic">
            <div class="desc-head">
              {{this.name}}
            </div>
            <div class="desc-description">
              {{this.author}}
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </section>
  <script>
    const templateCode = {{{ template }}};
    const storeT = Handlebars.template(templateCode);
  </script>
</main>