<main class="main">
  <div class="container-fluid_carousel">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="./img/slider/slideOne.png" alt="slide">
          <div class="carousel-caption d-none d-md-block">
            <h3>Это первый слайд</h3>
            <p>Ага, да</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="./img/slider/slideOne.png" alt="slide">
          <div class="carousel-caption d-none d-md-block">
            <h3>Эт второй</h3>
            <p>Кря</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="./img/slider/slideOne.png" alt="slide">
          <div class="carousel-caption d-none d-md-block">
            <h3>Ну, а это третий</h3>
            <p>Он самый</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section id="first">
    <div class="container">
      <div class="wrap-filter">
        <div class="row mt-3">
          <div class="col-xl-6 text-left py-2">
            Browse Works for Sale
          </div>
          <div class="col-xl-6 text-right">
            <a class="text-dark" href="">View All</a>
          </div>
        </div>
        <div class="first-btn row my-3">
          <button type="button"
            class="btn btn-filter-category btn-outline-secondary col-xl-2 px-1 mx-auto">Paintings</button>
          <button type="button"
            class="btn btn-filter-category btn-outline-secondary col-xl-2 px-1 mx-auto">Sculpture</button>
          <button type="button" class="btn btn-filter-category btn-outline-secondary col-xl-2 px-1 mx-auto">Drawings
          </button>
          <button type="button" class="btn btn-filter-category btn-outline-secondary col-xl-2 px-1 mx-auto">Photography
          </button>
          <button type="button"
            class="btn btn-filter-category btn-outline-secondary col-xl-2 px-1 mx-auto">Design</button>
          <button type="button"
            class="btn btn-filter-category btn-outline-secondary col-xl-2 px-1 mx-auto">Multiples</button>
        </div>
        <div class="wrap py-2">
          <div class="col-xl-12 text-left">
            Browse By Price
          </div>
          <div class="second-btn second-btn_price row my-3 ">
            <button type="button"
              class="btn btn-filter-price btn-outline-secondary col-xl-2 px-1 mx-auto">0-100</button>
            <button type="button"
              class="btn btn-filter-price btn-outline-secondary col-xl-2 px-1 mx-auto">100-500</button>
            <button type="button" class="btn btn-filter-price btn-outline-secondary col-xl-2 px-1 mx-auto">500-1000
            </button>
            <button type="button" class="btn btn-filter-price btn-outline-secondary col-xl-2 px-1 mx-auto">1000-2000
            </button>
            <button type="button"
              class="btn btn-filter-price btn-outline-secondary col-xl-2 px-1 mx-auto">2000-3000</button>
            <button type="button"
              class="btn btn-filter-price btn-outline-secondary col-xl-2 px-1 mx-auto">3000-5000</button>
          </div>
        </div>
        <div class="wrap py-2">
          <div class="col-xl-12 text-left">
            Browse By dimensions
          </div>
          <div class="second-btn second-btn_price row my-3 border-low">
            <button type="button"
              class="btn btn-filter-dimensions btn-outline-secondary col-xl-3 px-1 mx-auto">small</button>
            <button type="button" name="0-100"
              class="btn btn-filter-dimensions btn-outline-secondary col-xl-3 px-1 mx-auto">medium</button>
            <button type="button"
              class="btn btn-filter-dimensions btn-outline-secondary col-xl-3 px-1 mx-auto">large</button>
            <button type="button" class="btn btn-filter-search btn-warning col-xl-2 px-1 mx-auto">Search</button>
          </div>
        </div>
      </div>
      <h4 class="home-page-header">Our Latest Collection Inspired by
        <span class="home-page-header__span">
          Robert Frank
        </span>
      </h4>
      <div class="row border-low">
        {{#each gallery}}
        <div class="col-xl-6 ">
          <img class="rounded mx-auto d-block home-img__xy my-3" src="{{this.img}}" alt="pic">
        </div>
        {{/each}}
      </div>
    </div>
  </section>
  <section id="second">
    <div class="container">
      <div class="second-us row ">
        <div class="wrap-elem col-xl-4 py-4 text-center">
          <img class="elem-size mx-auto" src="./img/main/section2/1.png" alt="Provencance ">
          <p class="elem-fsize text-light mx-auto">
            Provencance proved by
            Blockchain Technology
          </p>
        </div>
        <div class="wrap-elem col-xl-4 py-4 text-center">
          <img class="elem-size mx-auto" src="./img/main/section2/2.png" alt="Provencance ">
          <p class="elem-fsize text-light mx-auto pt-4">
            Secure Payments
          </p>
        </div>
        <div class="wrap-elem col-xl-4 py-4 text-center">
          <img class="elem-size-last mx-auto" src="./img/main/section2/3.png" alt="Provencance ">
          <p class="elem-fsize text-light mx-auto pt-4">
            Safe Shipment
          </p>
        </div>
      </div>
      <h4 class="home-page-header">Magazine</h4>
      <div class="store row">
        {{#each store}}
        <div class="magazine-wrap py-5 col-xl-4">
          <div class="wrap">
            <img class="float-left mr-3 magazine-size-img" src="{{this.img}}" alt="pic">
            <div class="desc-head">
              {{this.name}}
            </div>
            <div class="desc-description">
              {{this.author}}
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </section>
</main>