<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href='./css/main.css'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <title>artinerary</title>
</head>

<body>
  <header>
    <nav class="navbar-dark bg-dark nav-border-bottom py-3">
      <div class="container-fluid align-middle">
        <div class="row">
          <div class="col-xl-1"></div>
          <h1 class="col-xl-7"><a href="#">artinerary</a></h1>
          <div class="col-xl-2 mt-3">
            <a href="#" class="m-2"><img src="img/header/search.png" alt="search" /></a>
            <a href="#" class="m-2"><img src="img/header/likes.png" alt="likes" /></a>
            <a href="#" class="m-2"><img src="img/header/basket.png" alt="bascet" /></a>
            <a href="#" class="m-2"><img src="img/header/people.png" alt="peoples" /></a>
          </div>
          <div class="col-xl-2 mt-3">
            <a href="#">Sign Up</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>